body, div, ul, li, a {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    left:0;
    right: 0;
}
body {
    display: flex;
    justify-content: center;
    font-size: 1em;
}
div {
    display: inline-block;
    margin:10px 10px 10px 10px;
    width:600px;
}

div.manager {
    width: 100%;
    padding: 5px;
    outline: none;
    border-left: 2px solid rgb(0, 0, 0);
    resize: none;
    overflow: auto;
    color: rgb(39, 39, 39);
}

div.manager[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
}
span.important {
    color:#D60000;
}
span.question {
    color:#4400D4;
}
span.tag {
    color:#828282;
    text-decoration:underline;
}
span.done {
    color:#1D7000 !important;
    text-decoration:line-through;
}

