body, div, ul, li, a {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    left:0;
    right: 0;
}
body {
    font-size: 1em;
}

div.hide {
    display: none !important;
}
ul {
    padding: 4px;
}
ul li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
    cursor: pointer;
}
li.active {
    text-decoration: underline;
}

div.container {
    display: inline-block;
    overflow:hidden;
    width: 100%;
}
div.container-center {
    display: flex;
    justify-content: center;
}

div.right {
    float: right;
}

div.container-column-60 {
    float:left;
    width:60%;
}
div.container-column-33 {
    float:left;
    width:33%;
}

div.manager {
    margin:10px 0px 0px 10px;
    padding: 5px;
    outline: none;
    border-left: 2px solid rgb(0, 0, 0);
    resize: none;
    overflow: auto;
    color: rgb(39, 39, 39);
}

div.manager[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
}
span.important {
    color:#D60000;
}
span.question {
    color:#4400D4;
}
span.tag {
    color:#828282;
    text-decoration:underline;
}
span.done {
    color:#1D7000 !important;
    text-decoration:line-through;
}

